{% extends 'website/layout.html' %}


{% block main %}
    <div class="col-md-8">
        <h2>Sobre nós</h2>
        <p>Somos uma associação recriativa localizada na aldeia de Matagoza.</p>
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/nos.jpg' %}" alt="" width="100%">
    </div>
    <div class="col-md-8" style="padding-top: 10px">
        <h2>Onde nos encontramos</h2>
        <p>A nossa associação encontra-se na Rua Da Escola, Matagosinha, Abrantes, Portugal</p>
        <p>Coordenadas GPS 39°37'39.4"N 8°10'57.8"W</p>
        <p>
            <a href="https://www.google.pt/maps/place/Centro+Cultural+e+Recreativo+Matagoza/@39.6276194,-8.1832206,19z/data=!3m1!4b1!4m5!3m4!1s0xd187574ba51a52b:0x450a92e8194fb3f6!8m2!3d39.6276184!4d-8.1826734"
               target="_blank">Link para o Google Maps</a></p>
    </div>
    <div class="col-md-4" style="padding-top: 10px">
        {% load static %}
        <img src=" {% static 'website/images/localizacao.png' %}" alt="" width="100%">
    </div>
{% endblock main %}
      