{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-12">
        <h2>Actividades Desportivas</h2>
        <p>No nosso espaço poderá:</p>
        <ul>
            <li>
                Paddle
            </li>
            <li>
                Canoagem
            </li>
        </ul>
    </div>
    <!--
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/esplanada.jpeg' %}" alt="" width="100%" height="80%" style="padding: 10px">
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/hamburger.jpeg' %}" alt="" width="100%" height="80%" style="padding: 10px">
    </div>
    -->
{% endblock main %}