{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Águas</h2>
    </div>
    <div class="col-md-8">
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Água (33 cl)</td>
            </tr>
            <tr>
                <td style="text-align: center">Água (1 L)</td>
            </tr>
            <tr>
                <td style="text-align: center">Água com gás</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/agua.jpg' %}" alt="" width="90%" height="71%" style="border: 5px solid #555;">
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Sumos</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Frize</td>
            </tr>
            <tr>
                <td style="text-align: center">Refrigerantes de lata</td>
            </tr>
            <tr>
                <td style="text-align: center">Sumo de Laranja</td>
            </tr>
            <tr>
                <td style="text-align: center">Compal</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Cafés e chás</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Café</td>
            </tr>
            <tr>
                <td style="text-align: center">Chá</td>
            </tr>
            <tr>
                <td style="text-align: center">Descafeinado</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Bebidas alcoólicas</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Bagaço</td>
            </tr>
            <tr>
                <td style="text-align: center">Vinho Mateus Rosé</td>
            </tr>
            <tr>
                <td style="text-align: center">Copo de Vinho</td>
            </tr>
            <tr>
                <td style="text-align: center">Ginja</td>
            </tr>
            <tr>
                <td style="text-align: center">Amêndoa Amarga</td>
            </tr>
            <tr>
                <td style="text-align: center">Gin Gordons</td>
            </tr>
            <tr>
                <td style="text-align: center">Gin Pink</td>
            </tr>
            <tr>
                <td style="text-align: center">Gin Beefeater</td>
            </tr>
            <tr>
                <td style="text-align: center">Licor Bayleis</td>
            </tr>
            <tr>
                <td style="text-align: center">Licor Beirão</td>
            </tr>
            <tr>
                <td style="text-align: center">Martini</td>
            </tr>
            <tr>
                <td style="text-align: center">Vinho do Porto</td>
            </tr>
            <tr>
                <td style="text-align: center">Whisky</td>
            </tr>
            <tr>
                <td style="text-align: center">Lagoa azul</td>
            </tr>
            <tr>
                <td style="text-align: center">Caipiroska</td>
            </tr>
            <tr>
                <td style="text-align: center">Caipirinha</td>
            </tr>
            <tr>
                <td style="text-align: center">Sagres mini</td>
            </tr>
            <tr>
                <td style="text-align: center">Super Bock</td>
            </tr>
            <tr>
                <td style="text-align: center">Sagres Sem álcool</td>
            </tr>
            <tr>
                <td style="text-align: center">Somersby</td>
            </tr>
            <tr>
                <td style="text-align: center">Sangria "La Susana"</td>
            </tr>
            <tr>
                <td style="text-align: center">Sangria "La Bea"</td>
            </tr>
        </table>
    </div>
{% endblock main %}