{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Os nossos petiscos</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Amêijoa (prato)</td>
            </tr>
            <tr>
                <td style="text-align: center">Camarão frito (Pires)</td>
            </tr>
            <tr>
                <td style="text-align: center">Camarão Panado</td>
            </tr>
            <tr>
                <td style="text-align: center">Camarão cozido</td>
            </tr>
            <tr>
                <td style="text-align: center">Bifana no Pão</td>
            </tr>
            <tr>
                <td style="text-align: center">Menu Bifana (Sem bebida)</td>
            </tr>
            <tr>
                <td style="text-align: center">Menu Hambúrguer (sem bebida)</td>
            </tr>
            <tr>
                <td style="text-align: center">Moelas (Meia Dose)</td>
            </tr>
            <tr>
                <td style="text-align: center">Pica Pau (Prato)</td>
            </tr>
            <tr>
                <td style="text-align: center">Caracóis (Prato)</td>
            </tr>
            <tr>
                <td style="text-align: center">Caracóis (Travessa)</td>
            </tr>
            <tr>
                <td style="text-align: center">Sopa</td>
            </tr>
            <tr>
                <td style="text-align: center">Chouriço Assado</td>
            </tr>
            <tr>
                <td style="text-align: center">Batata Frita (Grande)</td>
            </tr>
            <tr>
                <td style="text-align: center">Queijinhos</td>
            </tr>
            <tr>
                <td style="text-align: center">Salada de Orelha (Prato)</td>
            </tr>
            <tr>
                <td style="text-align: center">Pão/Bola</td>
            </tr>
            <tr>
                <td style="text-align: center">Pizza</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">A nossa pastelaria</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Crepe (Simples)</td>
            </tr>
            <tr>
                <td style="text-align: center">Crepe (c/ gelado)</td>
            </tr>
            <tr>
                <td style="text-align: center">Bolo</td>
            </tr>
            <tr>
                <td style="text-align: center">Crossaint</td>
            </tr>
            <tr>
                <td style="text-align: center">Pastel de nata</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Os nossos salgados</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Tosta</td>
            </tr>
            <tr>
                <td style="text-align: center">Rissol</td>
            </tr>
            <tr>
                <td style="text-align: center">Croquete</td>
            </tr>
        </table>
    </div>
{% endblock main %}