{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-4">
        <h2>Introdução</h2>
        <p>No nosso espaço poderá:</p>
        <ul>
            <li>
                Desfrutar de uma paisagem única.
            </li>
            <li>
                Observar a albufeira da barragem do Castelo de Bode.
            </li>
            <li>
                Desfrutar da nossa comida única e saborosa.
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/esplanada.jpeg' %}" alt="" width="100%" height="80%" style="padding: 10px">
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/hamburger.jpeg' %}" alt="" width="100%" height="80%" style="padding: 10px">
    </div>
    <div class="col-md-8">
        <h2>Horário</h2>
        <p>Estamos abertos todos os dias para o receber no nosso fantástico espaço:</p>
        <ul>
            <li>
                Segunda-Feira: Fechado
            </li>
            <li>
                Terça-Feira: 10:00-22:00h
            </li>
            <li>
                Quarta-Feira: 10:00-22:00h
            </li>
            <li>
                Quinta-Feira: 10:00-23:00h
            </li>
            <li>
                Sexta-Feira: 10:00-23:00h
            </li>
            <li>
                Sábado: 9:00-00:00h
            </li>
            <li>
                Domingo: 9:00-23:00h
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/horario.jpeg' %}" alt="" width="85%">
    </div>
    <div class="col-md-12">
        <h2 style="padding-top: 20px">Contactos</h2>
        {% load static %}
        <img src=" {% static 'website/images/contactos.png' %}" alt="" width="5%" >
        <a  style="padding-left: 10px;font-size: 20px" href="tel:913 569 988">913 569 988</a>
    </div>
{% endblock main %}
