<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Centro Cultural e Recreativo da Matagoza</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS
    https://getbootstrap.com/docs/4.0/examples/jumbotron/
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="stylesheet" href=" {% static 'website/styles.css' %} ">

</head>

<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md navbar-dark fixed-top mobile-nofixed" style="background-color: dodgerblue;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href=" {% url 'website:index' %} ">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Tabelas de Preços</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Comida</a>
                    <a class="dropdown-item" href="#">Bebidas</a>
                    <a class="dropdown-item" href="#">Snacks</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Actividades Desportivas</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#">Paddle</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">As nossas instalações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">A nossa história</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:about' %} ">Sobre nós</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-bottom: 20px;padding-top: 85px;background-color: orange">
        <div class="row">
            <div class="col-md-2">
                {% load static %}
                <img src=" {% static 'website/images/logo.jpg' %}" alt="" width="60%" height="85%">
            </div>
            <div class="col-md-8">
                <h1 style="text-align: left">Centro Cultural e Recreativo da Matagoza</h1>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row">
            {% block main %}

            {% endblock %}
        </div>

    </div>

    <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <div class="row">
        <div class="col-md-10">
            <p style="display: inline;">&copy; RS 2021 </p>
        </div>
        <div class="col-md-2">
            <a href="https://www.facebook.com/pages/category/Sports---Recreation/ccmatagoza-103032358666282/"
               class="fa fa-facebook" target="_blank" style="display: inline;font-size: 40px;"></a>
            <a href="https://www.instagram.com/c.c.matagoza/?utm_medium=copy_link" class="fa fa-instagram"
               target="_blank" style="display: inline;font-size: 40px; padding-left: 20px;color:#E1306C;"></a>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
