{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Snacks</h2>
        <table class="table" style="border: solid">
            <tr>
                <td style="text-align: center">Chocolates</td>
            </tr>
            <tr>
                <td style="text-align: center">Chupa Chupas</td>
            </tr>
            <tr>
                <td style="text-align: center">Gomas</td>
            </tr>
            <tr>
                <td style="text-align: center">Pastilhas</td>
            </tr>
        </table>
    </div>
{% endblock main %}