{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-12">
        <h2 style="text-align: center;padding-bottom: 10px">Tabela de Preços da nossa Comida</h2>

        <table class="table" style="border: solid">
            <tr>
                <th style="background-color: dodgerblue">Designação</th>
                <th style="background-color: dodgerblue">Sócios (€)</th>
                <th style="background-color: dodgerblue">Normal (€)</th>
            </tr>
            <tr>
                <td>Amêijoa (prato)</td>
                <td>3,50 €</td>
                <td>3,50 €</td>
            </tr>
            <tr>
                <td>Camarão frito (Pires)</td>
                <td>4,00 €</td>
                <td>4,50 €</td>
            </tr>
            <tr>
                <td>Camarão Panado</td>
                <td>4,00 €</td>
                <td>4,50 €</td>
            </tr>
            <tr>
                <td>Camarão cozido</td>
                 <td>3,00 €</td>
                <td>3,50 €</td>
            </tr>
            <tr>
                <td>Bifana no Pão</td>
                <td>1,50 €</td>
                <td>2,00 €</td>
            </tr>
            <tr>
                <td>Menu Bifana</td>
                <td>3,50 €</td>
                <td>4,00 €</td>
            </tr>
        </table>


    </div>
{% endblock main %}